
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: rgb(29, 31, 33);
  line-height: 1.5em;
  background: url(/static/img/background.png);
}

#background {
  background: #FFFFFF;
  margin: 20px 0;
}

#content {
  padding: 40px;
  max-width: 800px;
  margin: 0 auto;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 600px;
}

del {
  color: inherit !important;
}

.date {
  color: rgb(129, 131, 133);
}

#footer {
}

.navigation {
  display: table; 
  width: 100%;
}

.navigation > ul {
  display: table-row; 
  list-style: none;
}

.navigation > ul > li {
  display: table-cell; 
  width: 33%;
}

