
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  max-width: 640px;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  color: rgb(29, 31, 33);
  line-height: 1.5em;
  padding: 40px 0 0 0;
}

#content {
  flex: 1 0 auto;
  padding: 0 20px 0 20px;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 600px;
  margin: 0 auto 0 auto;
}

.date {
  color: rgb(129, 131, 133);
}

.tag {
  background: rgb(29, 31, 33);
  color: white;
  padding: 5px;
}

#footer {
  background: rgb(29, 31, 33);
  color: white;
  width: 100%;
  padding: 20px 20px 80px 20px;
  flex-shrink: 0;
  margin: 0;
}

#avatar {
  width: 80px;
  height: 80px;
  float: right;
}
