<div class="sidebar">
    <div class="container">
        <div class="sidebar-about">
            <img src="{{ .Site.BaseURL }}img/profile.jpg" />
            <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Params.author }}</h1></a>
            <p class="lead">
            <p>Originally from the US, I've spent most of my post-college years as a resident of Bangkok, a city of award-winning chefs, beautiful people, traffic jams and the ocassional coup d'etat.</p>
            <p>I like tackling hard problems, most recently at the intersection of computer graphics, computational geomerty and product design while creating <a href="http://model3d.co">Model3D, a 3D modeler for iPad Pro and Apple Pencil</a>.</p>
            <p>Former co-founder of a PR agency, I found my true calling as a software engineer / entrepreneur. I've spent the last decade building products and consulting for iOS and macOS and have learned a dozen or so computer languages.</p> 
            <p>When I'm not working I spend time with my family. My wife Onne is GM of a company under the <a href="http://dwp.com">dwp</a> umbrella. My son Hadrian attends St. Andrews in central Bangkok.</p>
            </p>
        </div>

        <!--
        <ul class="sidebar-nav">
            <li><a href="/">Home</a> </li>
            {{ range .Site.Menus.main }}
            <li><a href="{{.URL}}"> {{ .Name }} </a></li>
            {{end}}
        </ul>
        -->

        <p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{.Now.Format "2006"}}. All rights reserved. {{end}}</p>
    </div>
</div>
