<!DOCTYPE html>
<html class='no-js'>
  {% include 'head' %}

  <body class="{% if settings.reverse %}layout-reverse{% endif %}
               {% if settings.overlay %}sidebar-overlay{% endif %}
               {% if settings.colorscheme != 'none' %}theme-base-{{ settings.colorscheme }}{% endif %}">

     {% include 'sidebar' %}

     <div class="content container">
       {% include 'alerts' %}

       {{ content_for_layout }}
     </div>

    {{ posthaven.includes_for_body }}

  </body>
</html>

