
  </div><!-- #content -->
  <div id="footer">
    <img id="avatar" src="/static/img/avatar.jpg"/>
    <h3>About me:</h3>
    <h4><%= author %></h4>
    <p><%- bio -%></p>
    <p>Let's talk: <%= email %></p>
  </div>
  <script src="/static/js/scripts.js"></script>
</body>
</html>
