
    <div id="footer">
      <hr>
      <p class="license">This work is licensed under the Creative Commons license <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a></p>
      <p class="license">By reading this site, you agree to the <a href="/terms.html">terms</a></p>
      <% if (locals.page) { %>
        <p class="timestamp">Page last updated <%= page.updatedAt %></p>
      <% } %>
    </div>
  </div><!-- #content -->
  <div id="color-strip"></div>
  <script src="/static/js/scripts.js"></script>
</body>
</html>
