
      <div id="footer">
        <% if (locals.page) { %>
          <p>Page last updated <%= page.updatedAt %></p>
        <% } %>
      </div>
    </div><!-- #content -->
  </div><!-- #background -->
  <script src="/static/js/scripts.js"></script>
</body>
</html>
