<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= site.title %></title>
  <link rel="shortcut icon" href="/static/img/blkstar.co.logo_128.bt.png">
  <meta name="description" content="<%= site.description %>">
  <meta name="author" content="<%= site.author %>">
  <title>Latte, Jed?</title>
  <link rel="stylesheet" href="/static/css/normalize.css?v=1.0">
  <link rel="stylesheet" href="/static/css/dracula.css?v=1.0">
  <link rel="stylesheet" href="/static/css/styles.css?v=1.1">
</head>
<body class="">
  <div id="color-strip"></div>
  <div id="content">
    <warning>
      <strong>This document is in DRAFT form and should be used with extreme caution</strong>
    </warning>
